<h1 class="m-2">
  <span class="highlight-orange">Edit feedback</span>
</h1>

<div class="mobile-center-container">
  <div class="feedback-course-details mb-4">
    <h5 class="text-center mt-3"><strong><%= @course.material.name %></strong></h5>
    <p class="text-center" style="font-style: italic;"><%= @course.user.full_name %></p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="form-container" style="margin-top:0;">
          <%= simple_form_for [:students, @feedback] do |f| %>
            <%= f.input :comment, required: true %>
            <%= f.input :rating, required: true, collection: (1..5).to_a %>
            <%= f.submit "Edit feedback", class: "btn btn-sherpa-transp w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/navbar_mobile_bottom', course: @course %>
