<div class="container mt-5">
  <% @forum = Forum.where("course_id = '#{params[:id]}'").first %>
  <h1><%= @forum.topic %></h1>
  <div class="message-history p-3">
    <% @forum.messages.each do |message| %>
      <% if message.user == current_user %>

          <div class="d-flex justify-content-end">
            <div class="d-flex flex-column align-items-end">
              <p class="btn btn-message-sent mb-0 pb-0"><%= message.content %></p>
              <em class="mr-2" style="font-size: 12px;"><%= "You" %></em>
            </div>
          </div>
        <% else %>

          <div class="d-flex justify-content-start">
            <div class="d-flex flex-column align-items-end">
              <p class="btn btn-message-received mb-0 pb-0"><%= message.content %></p>
              <em class="mr-2" style="font-size: 12px;"><%= User.find(message.user_id).email %></em>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
  <% @message = Message.new %>
  <%= simple_form_for [@forum, @message], remote: true, html: { class: "form-inline mt-3 mb-5 d-flex w-100 justify-content-between" } do |f| %>
  <%= f.input :content, input_html: { class: "form-control w-100"}, label: false %>
  <%= f.input :user_id, as: :hidden, input_html: { value: "#{current_user.id}"} %>
  <%= f.button :submit, 'Send Message', class: "btn btn-sherpa mr-3" %>
  <% end %>
</div>
