<div class="container mt-5">
  <% @forum = Forum.where("course_id = '#{params[:course_id]}'").first %>
  <h1><%= @forum.topic %></h1>
  <div class="message-history p-3">
    <% @forum.messages.each do |message| %>

    <%= render 'messages/message', message: message, user_is_message_author: message.user == current_user %>


    <% end %>
  </div>
  <% @message = Message.new %>
  <%= simple_form_for [@forum, @message], remote: true, html: { class: "form-inline mt-3 mb-5 d-flex w-100 justify-content-between" } do |f| %>
  <%= f.input :content, input_html: { class: "form-control w-100"}, label: false %>
  <%= f.input :user_id, as: :hidden, input_html: { value: "#{current_user.id}"} %>
  <%= f.button :submit, 'Send Message', class: "btn btn-sherpa mr-3" %>
  <% end %>
</div>
<% content_for :after_js do %>
  <script>
    let messages = document.querySelectorAll('.message');
    let lastMessage = messages[messages.length - 1];
    lastMessage.scrollIntoView();
    App['show_messages_<%= @forum.id %>'] = App.cable.subscriptions.create({ channel: 'ShowMessagesChannel', forum_id: <%= @forum.id %> }, {
      received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
        const message_history = document.querySelector('.message-history');
        message_history.insertAdjacentHTML('beforeend', data.message_partial)
        messages = document.querySelectorAll('.message');
        lastMessage = messages[messages.length - 1];
        lastMessage.scrollIntoView();
        }
      }
    })
  </script>
<% end %>

