<div class="container mt-5">
  <h1>I'm the forum partial show</h1>
  <% @forum = Forum.where("course_id = '#{params[:id]}'").first %>
  <%= @forum.topic %>
  <% @forum.messages.each do |message| %>
  <li><%= User.find(message.user_id).email %> - <%= message.content %></li>
  <% end %>
  <% @message = Message.new %>
  <%= simple_form_for([@forum, @message]) do |f| %>
  <%= f.input :content %>
  <%= f.input :user_id, as: :hidden, input_html: { value: "#{current_user.id}"} %>
  <%= f.button :submit %>
  <% end %>
</div>
