<div class="container-cards-student-mr pt-5">
  <div id="stacked-cards-block" class="stackedcards stackedcards--animatable init">
    <div class="final-message-flashcard">
      <h3>🎉🎉🎉</h3>
      <h3>Congrats !</h3>
      <p>You have finish your flashcards for this chapter</p>
      <%= link_to 'Go back to course!', session_score_path(session_id: @session, course_id: @course), class: "btn btn-sherpa-transp" %>
    </div>
    <div class="stackedcards-container">

      <% @flashcards.each do |flashcard| %>

        <div class="card-item">
          <div class="d-flex flex-column align-items-center front-flashcard">
            <!-- <img class="icon-question-flashcard mt-5" src="https://picsum.photos/201/300" /> -->
            <div  class="question-flashcard mt-5 mb-4 text-center">
              <% random_or_not = rand() %>
              <% if random_or_not < 0.8 %>
                <h3><%= flashcard.question %></h3>
              <% else %>
                <%= cl_image_tag(flashcard.image, width: 120, height: 150, crop: :fill) %>
              <% end %>
            </div>

       <!--      <form class='flashcard-form'>
              <input type="content" class="form-control user_input text required form-control w-100" placeholder="Enter your answer here" autofocus= "true" name="answer[content]"></textarea>
            </form> -->
            <p class="flashcard-text">Take 5' to think about it 🤔</p>
            <label for="card1" class="button-submit-flashcard mt-5" aria-hidden="true" >
                Check Answer
            </label>
            <div class="hidden-answer mt-5 no-show">
              <p><%= flashcard.answer %></p>
            </div>

          <div class="global-actions mt-5">
            <%= link_to students_session_user_answers_path(session_id: params[:id], flashcard_id: flashcard.id, output: false, image: random_or_not >= 0.8), method: 'post', remote: true, class: "left-action" do %>
              🥴
            <% end %>
            <div class="top-action" style="display:none;">Top</div>
            <%= link_to students_session_user_answers_path(session_id: params[:id], flashcard_id: flashcard.id, output: true, image: random_or_not >= 0.8), method: 'post', remote: true, class: "right-action" do %>
              😎
            <% end %>
          </div>

          </div>
        </div>
      <% end %>
    </div>
    <div class="stackedcards--animatable stackedcards-overlay top">TOP</div>
    <div class="stackedcards--animatable stackedcards-overlay right">RIGHT</div>
    <div class="stackedcards--animatable stackedcards-overlay left">LEFT</div>
  </div>


</div>
