<div class="container mt-5">
  <% @levels.each do |level| %>
      <h2 class="mb-3"><%= level %></h2>
      <% current_user.courses.each do |course| %>
      <% if course.division.level == level && !@materials_display.include?(course.material.name) %>
      <h3><%= course.material.name %></h3>
      <% @materials_display << course.material.name %>
        <% course.material.chapters.each do |chapter| %>
      <div class="row row-flashcards-chapter">
          <div class="material-card mb-4 p-3"><%= link_to chapter.name %></div>
          <% chapter.flashcards.each do |flashcard| %>
            <div class="flashcard-teacher mb-4 p-3 no-show overflow-auto">
              <strong><%= flashcard.question %></strong>
              <div class="border-top mt-2 pt-3"><%= flashcard.answer %></div>
            </div>
          <% end %>
      </div>
        <% end %>
      <% end %>
      <% end %>
  <% end %>


</div>
