<div class="card-global-review-show">
  <div class="card-review-show animated fadeIn">
    <div class="card-review-text card-review-back-color">
      <div class="card-review-header">
        <p><%= @students_feedbacks.last.user.first_name %></p>
        <p><%= @students_feedbacks.last.user.last_name %></p>
      </div>
      <div class="card-review-content">
        <p><%= @students_feedbacks.last.comment %></p>
      </div>
    </div>
  </div>
  <div class="card-review-show animated fadeIn">
      <div class="card-review-text card-review-back-color">
        <div class="card-review-header">
          <p><%= @students_feedbacks[-2].user.first_name %></p>
          <p><%= @students_feedbacks[-2].user.last_name %></p>
        </div>
        <div class="card-review-content">
          <p><%= @students_feedbacks[-2].comment %></p>
        </div>
      </div>
    </div>
</div>
