<div class="container mt-5">

  <h1>I'm the students list of division <%= params[:id] %> </h1>

</div>
<%  arrayPhoto = ['https://images.unsplash.com/photo-1544703432-78fe9ba48d4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/photo-1571512599285-9ac4fdf3dba9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80',
  'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/flagged/photo-1570084787226-c77bdc6a1705?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/photo-1547212371-eb5e6a4b590c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/photo-1508216404415-a35220fab80e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/photo-1551108168-229956dd31bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/photo-1568386562062-e03c15641420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80',
  'https://images.unsplash.com/photo-1575879722495-9b0e524e39e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/photo-1563405614130-5a4b326051ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/photo-1579626379295-2b3a2dd7cbc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60',
  'https://images.unsplash.com/photo-1575075500178-c99ef905661a?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60']%>

    <div class="container mt-3">
      <h4 class="student-difficulty-text">
        Students in difficulty
      </h4>
    </div>


      <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                  <div class="frontside">
                    <div onclick="window.location.href = '<%=  teachers_course_student_path(1,@course_students[0].id)%>';">
                      <div class="card-student">
                          <div class="card-body-student d-flex">
                            <div class="photo-nom">
                              <img class=" img-fluid" src= '<%= arrayPhoto.sample %>' alt="card image">
                              <h20 class="card-title">
                                <%= @course_students[0].first_name%>
                              </h20>
                            </div>
                              <p class="card-text flex-grow-1">This is basic card with image on top, title, description and button.</p>
                            <div class="eye-icon">
                              <a href="#" class="button"><i class="fa fa-eye text-center"></i></a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>

      <div class="space-cards">
      </div>




      <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                  <div class="frontside">
                    <div onclick="window.location.href = '<%=  teachers_course_student_path(1,@course_students[1].id)%>';">
                      <div class="card-student">
                          <div class="card-body-student d-flex">
                            <div class="photo-nom">
                              <img class=" img-fluid" src= '<%= arrayPhoto.sample %>' alt="card image">
                              <h20 class="card-title">
                                <%= @course_students[1].first_name%>
                              </h20>
                            </div>
                              <p class="card-text flex-grow-1">This is basic card with image on top, title, description and button.</p>
                            <div class="eye-icon">
                              <a href="#" class="button"><i class="fa fa-eye text-center"></i></a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
      <div class="space-cards">
      </div>



      <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                  <div class="frontside">
                    <div onclick="window.location.href = '<%=  teachers_course_student_path(1,@course_students[2].id)%>';">
                      <div class="card-student">
                          <div class="card-body-student d-flex">
                            <div class="photo-nom">
                              <img class=" img-fluid" src= '<%= arrayPhoto.sample %>' alt="card image">
                              <h20 class="card-title">
                                <%= @course_students[2].first_name%>
                              </h20>
                            </div>
                              <p class="card-text flex-grow-1">This is basic card with image on top, title, description and button.</p>
                            <div class="eye-icon">
                              <a href="#" class="button"><i class="fa fa-eye text-center"></i></a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
      <div class="space-cards">
      </div>


      <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                  <div class="frontside">
                    <div onclick="window.location.href = '<%=  teachers_course_student_path(1,@course_students[3].id)%>';">
                      <div class="card-student">
                          <div class="card-body-student d-flex">
                            <div class="photo-nom">
                              <img class=" img-fluid" src= '<%= arrayPhoto.sample %>' alt="card image">
                              <h20 class="card-title">
                                <%= @course_students[3].first_name%>
                              </h20>
                            </div>
                              <p class="card-text flex-grow-1">This is basic card with image on top, title, description and button.</p>
                            <div class="eye-icon">
                              <a href="#" class="button"><i class="fa fa-eye text-center"></i></a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
      <div class="space-cards">
      </div>



      <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                  <div class="frontside">
                    <div onclick="window.location.href = '<%=  teachers_course_student_path(1,@course_students[4].id)%>';">
                      <div class="card-student">
                          <div class="card-body-student d-flex">
                            <div class="photo-nom">
                              <img class=" img-fluid" src= '<%= arrayPhoto.sample %>' alt="card image">
                              <h20 class="card-title">
                                <%= @course_students[4].first_name%>
                              </h20>
                            </div>
                              <p class="card-text flex-grow-1">This is basic card with image on top, title, description and button.</p>
                            <div class="eye-icon">
                              <a href="#" class="button"><i class="fa fa-eye text-center"></i></a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
      <div class="space-cards">
      </div>



<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">See Full List</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <% new_course_student = @course_students.drop(5)%>
      <% new_course_student.each do |student| %>
      <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                  <div class="frontside">
                    <div onclick="window.location.href = '<%=  teachers_course_student_path(1,student.id)%>';">
                      <div class="card-student">
                          <div class="card-body-student d-flex">
                            <div class="photo-nom">
                              <img class=" img-fluid" src='<%= arrayPhoto.sample%>' alt='card image'>
                              <h20 class="card-title">
                                <%= student.first_name%>
                              </h20>
                            </div>
                              <p class="card-text flex-grow-1">This is basic card with image on top, title, description and button.</p>
                            <div class="eye-icon">
                              <a href="#" class="button"><i class="fa fa-eye text-center"></i></a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
      <div class="space-cards">
      </div>
      <% end %>


    </div>
  </div>
</div>






      <!-- ./Team member -->
