<div class="container mt-5">
  <h1>I'm a student <%= params[:id] %> of the division <%= params[:course_id] %> individual dashboard</h1>
  Pay attention to the order of params !

  <div><%= link_to 'Back to class', teachers_course_path(params[:course_id]), class: "btn btn-primary" %></div>
  <img src="<%= User.find(params[:id]).picture_url %>" alt="">
</div>


<div style="height: 33vh;">
  <%= render 'shared/chart_line_student_show' %>
</div>

<div>

</div>
