<div class="container mt-5">
  <h1 class="mb-3">Modify a chapter</h1>
  <%= simple_form_for(chapter) do |f| %>
  <%= f.input :material, collection: @materials, html_input: {class: "form-control"} %>
  <%= f.input :name, html_input: {class: "form-control"} %>
  <%= f.label :content %>
  <div class="d-flex">
    <textarea class="form-control w-100 editor" id="editor" rows="4"></textarea>
    <div id="md-helper">
      <p style="font-size: 24px;"># : <strong>Title</strong></p>
      <p style="font-size: 20px;">## : <strong>Secondary title</strong></p>
      <p style="font-size: 18px;">### : <strong>Tertiary title</strong></p>
      <p>*<em>some text</em>* : <em>italic</em></p>
      <p>**<em>some text</em>** : <strong>bold</strong></p>
      <p>***<em>some text</em>*** : <em><strong>bold & italic</strong></em></p>
    </div>
  </div>
  <%= f.input :content, as: :hidden %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
