<div class="container mt-5 mb-5">
  <h1 class="text-center"><%= @material.name %></h1>
<div class="row d-flex justify-content-between p-3">
    <div class="col-12 mt-5">
      <h2>Chapters</h2>
      <% if @material.chapters.empty? %>
        <%= "This course does not have any chapter" %>
      <% else %>
        <div class="accordion d-flex flex-column align-items-center" id="accordionChapters">
          <% i=1 %>
          <% @material.chapters.each do |chapter| %>
          <% i+=1 %>
          <div class="cardy borders w-100">
            <div class="card-header card-header-chapter d-flex justify-content-between" id="heading<%= i %>">
              <h2 class="mb-0">
                <button class="btn btn-transp collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="false" aria-controls="collapse<%= i %>">
                  <%= chapter.name.capitalize %>
                </button>
              </h2>
              <div class="d-flex align-items-center">
                <button type="button" class="btn btn-transp" data-toggle="modal" data-target="#modal-<%= chapter.id %>"><i class="far fa-edit navbar-icon"></i></button>
                <%= link_to chapter_path(chapter.id), method: :delete, data: { confirm: "Are you sure?"} do %>
                  <i class="fas fa-trash navbar-icon"></i>
                <% end %>
              </div>
              </div>

                <div class="modal fade" id="modal-<%= chapter.id %>" tabindex="-1" role="dialog" aria-labelledby="modal-<%= chapter.id %>" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header" style="background: rgba(79, 42, 205, 0.1);">
                        <h5 class="modal-title" id="modal-<%= chapter.id %>"><%= chapter.name %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= render 'chapters/edit', chapter: chapter %>
                      </div>

                  </div>
                </div>
            </div>

            <div id="collapse<%= i %>" class="collapse" aria-labelledby="heading<%= i %>" data-parent="#accordionChapters">
              <div class="card-body d-flex card-body-chapter-content">
                  <div class="card-product-infos p-2">
                    <p><%= raw(chapter.content) %></p>
                  </div>
                </div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>


