<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sherpa</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700|Source+Sans+Pro:300,400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body>
    <% unless current_page?(root_path) || @sessions_show %>
      <%= render 'shared/navbar_top' %>
    <% end %>

    <%= render 'shared/flashes' %>

    <% if current_page?(root_path) || (user_signed_in? && current_user.teacher?) %>
      <div class="loggedin-container">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <% if user_signed_in? && current_user.teacher? %>
      <% unless current_page?(root_path) %>
        <%= render 'shared/footer' %>
      <% end %>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <%= yield :after_js %>
  </body>
</html>
